---
layout: default
title: Schedule
---
<div id="content">
  {% include notransition.html %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% for quarter in site.data.schedule %}
        <p align="left">
          <img src="{{ quarter.image }}" class="img-fluid float-center rounded">
          <br><br>
          {{ quarter.course1 }}
          <br>
          {{ quarter.course2 }}
          <br>
          {{ quarter.course3 }}
          <br>
          {{ quarter.course4 }}
          <br>
          {{ quarter.course5 }}
        </p>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
