<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3> Roger Ji </h3>
      <strong> RJ </strong>
    </div>

    <ul class="list-unstyled components">
      <li class="nav-item">
        <a id="sidebarCollapse">
          <i class="fas fa-align-left"></i>
        </a>
      </li>
      {% for item in site.data.navigation %}
      <li class="nav-item">
        <a href="{{ item.link || remove: ".html"}}" {% if page.url == item.link %}style="color: red;" {% endif %}>
          {{ item.name }}
        </a>
      </li>
      {% endfor %}

    </ul>
  </nav>
</div>
