<nav id="sidebar">

  <div class="sidebar-header">
    <h3> Roger Ji </h3>
    <strong> RJ </strong>
  </div>

  <ul class="list-unstyled components">
    {% for item in site.data.navigation %}
    <li class="nav-item">
      <a href="{{ item.link || remove: ".html"}}" {% if page.url == item.link %}style="background-color: rgba(0,0,0,0.4);" {% endif %}>
        {{ item.icon }}
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
    <li class="nav-item">
      <a href="#" id="sidebarCollapse">
        <i class="fas fa-compress-arrows-alt fa-fw"></i>
        Toggle
      </a>
    </li>
  </ul>
</nav>
