<script>
  (function() {
    if (Boolean(sessionStorage.getItem('collapsed'))) {

      var body = document.getElementsByTagName('body')[0];
      body.className = body.className + ' notransition';

      document.getElementById("sidebar").className = 'active';
      document.getElementById("topbar").className = document.getElementById("topbar").className + ' active';
      document.getElementById("content").className = 'active';
      document.getElementById("lastModified").className = 'active';
      //content.className = 'active';

      body.classList.remove('notransition');
    }
  })();
</script>
