<script>
  (function() {
    //temporary fix for windows problem; disable toggle until more info gathered
    if (navigator.appVersion.indexOf("Win") != -1) {
      document.getElementById("toggle").className = document.getElementById("toggle").className + ' hidden';
    }
    if (Boolean(sessionStorage.getItem('collapsed'))) {
      //no transition for entire boody
      var body = document.getElementsByTagName('body')[0];
      body.className = body.className + ' notransition';
      //collapse everything
      document.getElementById("sidebar").className = 'active';
      document.getElementById("content").className = 'active';
      document.getElementById("lastModified").className = 'active';
      document.getElementById("topbar").className = document.getElementById("topbar").className + ' active';
      //reinstate transitions

      body.classList.remove('notransition');
    }
  })();
</script>
